<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Messenger!</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <a href="{% url 'index' %}">Messenger</a>
    {% else %}
        <p>Welcome, guest!</p>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
</body>
</html>